<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Familiar</title>
</head>
<body>
    <ul>
            
            {% for familia in lista_familia %}
                <li>
                    {{familia.nombre}}
                    {{familia.apellido}}/
                    {{familia.celular}}/
                    {{familia.cumpleagno}}/
                </li>
               
            {% endfor %}
            
    </ul>

</body>
</html>